[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
obj/
MemoryCaptures/
*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
.vscode/
.idea/
*.log
*.blob
sysinfo.txt
.DS_Store
.collab/
